###### HKT 2017-11-24 08:07:47 (REMOTE HOST : 172.30.40.111) VISA POST REQUEST XML STRING ######<br /><pre>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;VISA&gt;&lt;Request Command=&quot;JobSubmit&quot;&gt;&lt;SourceUri&gt;/home/Video.Source/temp/daolabtest/3000255434.mxf&lt;/SourceUri&gt;&lt;OutputPath&gt;/home/Video.Output/temp/dloutput
&lt;/OutputPath&gt;&lt;EncodePriority&gt;20&lt;/EncodePriority&gt;&lt;SplitEncode&gt;true&lt;/SplitEncode&gt;&lt;Output&gt;&lt;OutputJob&gt;&lt;OutputNumber&gt;1&lt;/OutputNumber&gt;&lt;EncodeMode/&gt;&lt;OutputFile&gt;3000255434.mxf&lt;/OutputFile&gt;&lt;DeviceOutputProfile&gt;TVB&lt;/DeviceOutputProfile&gt;&lt;OutputContainer/&gt;&lt;VideoBitrate/&gt;&lt;AudioBitrate/&gt;&lt;Deinterlace/&gt;&lt;PassMode/&gt;&lt;Segmentor/&gt;&lt;EncodeLength&gt;0&lt;/EncodeLength&gt;&lt;/OutputJob&gt;&lt;/Output&gt;&lt;/Request&gt;&lt;/VISA&gt;
</pre><br />###### VISA RESPONSE XML STRING ######<br /><pre>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;VISA&gt;
  &lt;Response Command=&quot;JobSubmit&quot;&gt;
    &lt;Status&gt;OK&lt;/Status&gt;
    &lt;JobID&gt;10999&lt;/JobID&gt;
    &lt;CapacityReport Unit=&quot;JobSlot&quot; Value=&quot;2&quot;/&gt;
    &lt;Timestamp&gt;HKT 2017-11-24 08:07:47&lt;/Timestamp&gt;
  &lt;/Response&gt;
&lt;/VISA&gt;
</pre>